.explainer{
    color: #4472CA;
    font-family: HUN;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 3.725rem;
}

.titlea{
    -webkit-text-stroke: 2px #4472CA;
    color: #D7D9D7;
    text-align: center;
    font-family: HUN;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 3.725rem;
}

.title2a{
    color: #D7D9D7;
    font-family: HUN;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 50;
    line-height: normal;
    text-align: center;
    font-style: italic;
}

.titleaa{
    -webkit-text-stroke: 2px #4472CA;
    color: #D7D9D7;
    text-align: center;
    font-family: HUN;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 3.725rem;
    text-decoration: white underline;

}

.images{
    width: 20rem;
}

@media screen and (max-width: 1150px) {
    .images{
        width: 13rem;
    }
}

@media screen and (max-width: 1000px) {
    .explainer{
        font-size: 3rem;
    }
    .titlea{
        font-size: 3.375rem;
    }
    .title2a{
        font-size: 1.125rem;
    }
    .titleaa{
        font-size: 4.2rem;
    }
}

@media screen and (max-width: 800px) {
    .explainer{
        font-size: 2.25rem;
    }
    .titlea{
        font-size: 2.53125rem;
    }
    .title2a{
        font-size: 0.84375rem;
    }
    .titleaa{
        font-size: 3.15rem;
    }
    .images{
        width: 10rem;
    }
}

@media screen and (max-width: 650px) {
    .explainer{
        font-size: 1.6875rem;
    }
    .titlea{
        font-size: 1.9rem;
    }
    .images{
        width: 7rem;
    }
}

@media screen and (max-width: 650px) {
    .explainer{
        font-size: 1.2rem;
    }
    .images{
        width: 5rem;
    }
}

@media screen and (max-width: 450px) {
    .explainer{
        font-size: 1rem;
    }
    .titlea{
        font-size: 1.5rem;
        -webkit-text-stroke: 1px #4472CA;
    }
}

@media screen and (max-width: 400px) {
    .explainer{
        font-size: 0.85rem;
    }
    .titlea{
        font-size: 1.5rem;
        -webkit-text-stroke: 1px #4472CA;
    }
    .titleaa{
        font-size: 2.3625rem;
    }
}

@media screen and (max-width: 350px) {
    .explainer{
        font-size: 0.65rem;
    }
    .titlea{
        font-size: 1.1rem;
        -webkit-text-stroke: 0px #4472CA;
    }
    .images{
        width: 3rem;
    }
}

@media screen and (max-width: 315px) {
    .titleaa{
        font-size: 1.77rem;
        -webkit-text-stroke: 1px #4472CA;
    }
    .title2a{
        font-size: 0.54375rem;
    }
}