.coming{
    color: #4472CA;
    font-family: HUN;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 6.438rem;
    line-height: normal;
    padding-top: 3.725rem;
}
