.comingab{
    color: #4472CA;
    font-family: HUN;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: normal;
    padding-top: 3.725rem;
}
.errorma{
    color: #ff7f7f;
    font-family: HUN;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 1000px) {
    .comingab {
        font-size: 3rem;
    }
}

@media screen and (max-width: 650px) {
    .comingab {
        font-size: 2rem;
    }
}

@media screen and (max-width: 580px) {
    .comingab {
        font-size: 1.5rem;
    }
}