.comingab{
    color: #4472CA;
    font-family: HUN;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: normal;
    padding-top: 3.725rem;
}
.errorma{
    color: #ff7f7f;
    font-family: HUN;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}