.titles{
    -webkit-text-stroke: 2px #4472CA;
    color: #D7D9D7;
    font-family: HUN;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: normal;
    padding-top: 3.725rem;
    padding-bottom: 1.125rem;
}

.question{
    color: #4472CA;
    font-family: HUN;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dealer{
    color: white;
    font-family: HUN;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.inputClass{
    width: 20rem;
    font-family: ProFontWindows;
}

.error{
    color: #ff7f7f;
    font-family: HUN;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loads{
    color: #4472CA;
    font-family: HUN;
    font-size: 2.5rem;
    font-weight: 50;
    line-height: normal;
    text-align: center;
    padding-top: 1.7rem;
}

@media screen and (max-width: 700px) {
    .inputClass{
        width: 15rem;
    }
}

@media screen and (max-width: 600px) {
    .inputClass{
        width: 10rem;
    }
}

@media screen and (max-width: 500px) {
    .question{
        font-size: 1.5rem;
    }
    .dealer{
        font-size: 1.75;
    }
    .titles{
        font-size: 3rem;
    }
}

@media screen and (max-width: 430px) {
    .question{
        font-size: 1.25rem;
    }
    .error{
        font-size: 1.25rem;
    }
    .inputClass{
        width: 8rem;
    }
}

@media screen and (max-width: 365px) {
    .question{
        font-size: 1rem;
    }
    .dealer{
        font-size: 1.25;
    }
    .error{
        font-size: 1rem;
    }
    .inputClass{
        width: 8rem;
    }
}

@media screen and (max-width: 330px) {
    .inputClass{
        width: 6rem;
    }
}

@media screen and (max-width: 300px) {
    .question{
        font-size: 0.8rem;
    }
    .dealer{
        font-size: 1;
    }
    .error{
        font-size: 0.8rem;
    }
    .inputClass{
        width: 5.5rem;
    }
    .titles{
        font-size: 2.2rem;
        -webkit-text-stroke: 1px #4472CA;
    }
}

